*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header.sticky{
    background-color: rgba(0, 0, 0, 0.5);
}

header:hover{
    background-color: rgba(0, 0, 0, 1);
}

.logo{
    flex: 2;
    text-align: center;
    /* height: 50px; */
}

.logo img{
    height: 60px;
}

.menu{
    flex: 6;
    align-items: center;
    text-align: center;
    display: flex;
}

#active-menu{
    text-decoration: underline;
}


.menu li{
    padding: 0px 20px;
    flex: 2;
    position: relative;
}

.menu li:hover .sub-menu{
    visibility: visible;
    background-color: white;
    top: 20px;
}

.sub-menu{
    position: absolute;
    text-align: left;
    /* color: black; */
    background-color: white;
    width: 170px;
    border: 1px solid black;
    padding: 0px 0px 10px 0px;
    margin-top: 30px;
    visibility: hidden;
    top: 30px;
    transition: 0.3s;
}

.sub-menu li a{
    color: black;
}

.sub-menu li a{
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 35px;
    color: #000 !important;
}

.menu li a{
    font-size: 16px;
    font-weight: 600;
    color: white;
    display: block;
    /* line-height: 80px; */
}

.others{
    flex: 4;
    display: flex;
}

.others li{
    padding: 0px 20px;
    position: relative;
    flex: 12;
}

.others li input{
    width: 100%;
    height: 30px;
    /* position: relative; */
    /* border: none; */
    border-radius: 30px;
}

.others .search{
    flex: 6;
}

.others .icon{
    flex: 1;
}

.others .icon i{
    color: white;
}

.others li i{
    position: absolute;
    top: 7px;
    right: 30px;
}


/* FOOTER */
footer{
    display: flex;
    /* width: 100%; */
    padding: 50px 30px;
    height: 280px;
    align-items: center;
    background-color: black;
    justify-content: space-around;
    /* margin-top: 150px; */
}

.col1{
    flex: 1;
    color: white;
    padding: 10px 0px;
    margin-left: 50px;
}

.col1 img{
    height: 50px;
}

.col1 div{
    display: flex;
    line-height: 30px;
    padding: 5px 0px;
}
.col1 div i{
    padding-top: 8px;
}

.col1 div p{
    font-size: 12px;
    padding-left: 10px;
}

.col23{
    flex: 2;
    color: white;
    display: flex;
    justify-content: space-around;
}

.col23 li{
    padding: 0px 10px;
    font-weight: bold;
    font-size: 15px;
}

.col23 ul li{
    line-height: 35px;
}

.col23 a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.col4{
    flex: 1;
    text-align: center;
}

.col4 img{
    width: 280px;
}

/* -----------------------BLOG CONTAINER------------------------------*/
.row{
    display: flex;
    flex-wrap: wrap;
}

.blog-container{
    padding: 100px 0 0;
}

.cartegory-top{
    margin-bottom: 10px;
    padding: 10px 0px;
    font-size: 15px;
}

/* -----LEFT----- */
/* .containner{
    display: flex;
} */

.container .blog-left{
    width: 70%;
    margin-top: 10px;
    margin-left: 20px;
    /* justify-content: space-between; */
}

.blog-left .blog-item{
    width: calc(50% - 20px);
    text-align: justify;
    padding: 12px 20px;
    cursor: pointer;
    transition: transform 0.7s;
}
    
.blog-left .blog-item:hover{
    transform: translateY(-0.1in);
}

.blog-left .blog-item img{
    width: 480px;
    height: 300px;
    margin-left: 20px;
}

.blog-left .blog-item h1{
    font-size: 20px;
    margin: 10px 20px;
}

.blog-left .blog-item .blog-info{
    margin: 10px 20px;
}

.blog-left .blog-item .date-container{
    margin: 10px 20px;
    justify-content: space-between;
}
a{
    color: black;
}

/* -----RIGHT----- */
.container .blog-right{
    width: 27%;
    margin-top: 10px;
    /* display: flex; */
    /* flex-direction: column; */
}

.container .blog-right .title-right{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

/* .container .blog-right-post{
  
} */

.blog-right-post .blog-item{
    width: calc(100% - 20px);
    margin-bottom: 15px;
    /* text-align: justify;
    padding: 12px 20px;
    cursor: pointer; */
    transition: transform 0.7s;
}

.blog-right-post .blog-item:hover{
    transform: translateY(-0.05in);
}

.blog-right-post .blog-item .blog-collum{
    width: 70%;
    text-align: justify;
}

.blog-right-post .blog-item img{
    width: 30%;
    padding-right: 5px;
    /* height: 70px; */
}

.blog-right-post .blog-item h1{
    font-size: 13px;
    padding: 5px 0;
}

.blog-right-post .blog-item .blog-info{
    font-size: 12px;
}

.blog-right-post .blog-item .date-container{
    margin: 5px 0px;
    font-size: 12px;
    justify-content: space-between;
}


.cartegory-top p{
    padding: 0px 10px;
}



/* ------------------ Đề xuất ------------------- */

.email-discount{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.email-discount .title{
    font-size: 20px;
    font-weight: bolder;
    margin: 20px 0;
}

.email-discount .input-discount{
    margin: 20px 0px;
    margin-top: 0px;
}

.email-discount .input-discount input{
    height: 40px;
    width: 25%;
    padding: 5px 10px;
}

.email-discount .input-discount button{
    height: 40px;
    width: 12%;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.email-discount .input-discount button:hover{
    background-color: #333;
    color: white;
}