*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header.sticky{
    background-color: rgba(0, 0, 0, 0.5);
}

header:hover{
    background-color: rgba(0, 0, 0, 1);
}

.logo{
    flex: 2;
    text-align: center;
    /* height: 50px; */
}

.logo img{
    height: 60px;
}

.menu{
    flex: 6;
    align-items: center;
    text-align: center;
    display: flex;
}

#active-menu{
    text-decoration: underline;
}


.menu li{
    padding: 0px 20px;
    flex: 2;
    position: relative;
}

.menu li:hover .sub-menu{
    visibility: visible;
    background-color: white;
    top: 20px;
}

.sub-menu{
    position: absolute;
    text-align: left;
    /* color: black; */
    background-color: white;
    width: 170px;
    border: 1px solid black;
    padding: 0px 0px 10px 0px;
    margin-top: 30px;
    visibility: hidden;
    top: 30px;
    transition: 0.3s;
}

.sub-menu li a{
    color: black;
}

.sub-menu li a{
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 35px;
    color: #000 !important;
}

.menu li a{
    font-size: 16px;
    font-weight: 600;
    color: white;
    display: block;
    /* line-height: 80px; */
}

.others{
    flex: 4;
    display: flex;
}

.others li{
    padding: 0px 20px;
    position: relative;
    flex: 12;
}

.others li input{
    width: 100%;
    height: 30px;
    /* position: relative; */
    /* border: none; */
    border-radius: 30px;
}

.others .search{
    flex: 6;
}

.others .icon{
    flex: 1;
}

.others .icon i{
    color: white;
}

.others li i{
    position: absolute;
    top: 7px;
    right: 30px;
}


/* FOOTER */
footer{
    display: flex;
    /* width: 100%; */
    padding: 50px 30px;
    height: 280px;
    align-items: center;
    background-color: black;
    justify-content: space-around;
    /* margin-top: 150px; */
}

.col1{
    flex: 1;
    color: white;
    padding: 10px 0px;
    margin-left: 50px;
}

.col1 img{
    height: 50px;
}

.col1 div{
    display: flex;
    line-height: 30px;
    padding: 5px 0px;
}
.col1 div i{
    padding-top: 8px;
}

.col1 div p{
    font-size: 12px;
    padding-left: 10px;
}

.col23{
    flex: 2;
    color: white;
    display: flex;
    justify-content: space-around;
}

.col23 li{
    padding: 0px 10px;
    font-weight: bold;
    font-size: 15px;
}

.col23 ul li{
    line-height: 35px;
}

.col23 a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.col4{
    flex: 1;
    text-align: center;
}

.col4 img{
    width: 280px;
}

/* Sản phẩm */
.row{
    display: flex;
    flex-wrap: wrap;
}

.cartegory{
    padding: 100px 0 0;
}

.cartegory-top{
    margin-bottom: 10px;
    padding: 10px 0px;
    font-size: 15px;
}

.cartegory-top p{
    padding: 0px 10px;
}

.cartegory-left{
    width: 25%;
}

.cartegory-right{
    width: 75%;
}

.cartegory-right-top-item:first-child{
    flex: 2;
    font-size: 20px;
    font-weight: bold;
}

.cartegory-right-top-item:last-child{
    right: 0px !important;
    justify-content:end;
}

.cartegory-right-top-item{
    flex: 1;
    padding: 0 12px;
    justify-content:space-around;
}

.cartegory-right-top-item select{
    width: 50%;
    padding: 5px 15px;
    display: flex;
    justify-content:end;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.cartegory-right-content{
    margin-top: 20px;
    justify-content: space-between;

}

.cartegory-right-content-item{
    width: calc(33% - 12px);
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
    transition: transform 0.7s;
}

.cartegory-right-content-item:hover{
    transform: translateY(-0.1in);
    /* transform: translateX(-0.1in); */
    /* scale: 1.1; */
    /* transform: skew(20deg, 10deg); */
}

.cartegory-right-content-item img{
    width: 300px;
    height: 300px;
}

.cartegory-right-content-item h1{
    font-size: 18px;
    margin: 10px 20px;
}

.cartegory-right-content-item .price{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row !important; */
    font-size: 22px;
    font-weight: bold;
    padding: 5px 70px;
    justify-content: space-around;
}

.cartegory-right-content-item .price .price1{
    color: red;
}

.cartegory-right-content-item .price .price2{
    color: #ccc;
    text-decoration: line-through;
}

.cartegory-right-content-item .add-cart{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    /* height: 8%; */
}

.cartegory-right-content-item .add-cart:hover{
    color: black;
    background-color: white;
}

.cartegory-right-bottom{
    justify-content:end;
    margin: 30px 0 20px;
    margin-right: 50px;
    width: 100%;
}

.cartegory-right-bottom button{
    padding: 10px;
    font-size: 15px;
    /* font-weight: bold; */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
}

.cartegory-right-bottom button:hover{
    background-color: #ccc;
}

.cartegory-right-bottom-item #next-page{
    font-size: 20px;
    color: #333;
    border: none !important;
}

.cartegory-left ul li{
    padding: 12px;
}

.cartegory-left ul li a{
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.cartegory-left ul li ul li{
    padding: 5px 25px;
    margin: 15px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 200;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cartegory-left ul li ul li:hover{
    background-color: black;
    color: white !important;
}

.cartegory-left-li ul{
    display: flex;
}

.cartegory-left-li.block ul{
    display: flex;
    justify-content: left;
}

.cartegory-left ul li ul li a{
    font-size: 14px;
    color: #333;
    
}
.cartegory-left ul li ul li a:hover{
    color: white;
}

.price-range{
    justify-content: left;
}

.price-range input{
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    width: 30%;
    padding: 5px 5px;
    margin: 15px;
    /* margin-bottom: 0px; */
}

.price-btn{
    justify-content: left;
}

.price-btn button{
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    width: 30%;
    padding: 5px 5px;
    margin: 0px 13px;
    font-size: 13px;
    font-weight: bold;
    /* margin-bottom: 0px; */
}

.price-btn button:hover{
    background-color: #ccc !important;
    color: black  !important;
}

.price-btn #delete-price{
    color: black;
    background-color: white;
}

.price-btn #apply-price{
    color: white;
    background-color: black;
}

.pick-size{
    display: flex;
}

.pick-size li{
    padding: 8px 8px !important;
    margin: 5px 10px !important;
    width: 30px !important;
    height: 30px !important;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 200;
    border: 1px solid #ccc;
    border-radius: 50%;
}